.tabs_section {
  width: 100%;
  @include flexItemsCenter;
  margin-top: 2rem;
  .tabs_list {
    max-width: 80%;
    position: relative;
    width: 100%;
    margin: 0 auto;
    li {
      @include flexCenterBetween;
      margin-bottom: 1rem;
      border-left: 2px solid $sky-blue-color;
      padding: 0.75rem 0.5rem;
      .link {
        @include flexItemsCenter;
        .icon {
          margin-right: 1rem;
          margin-left: 0.5rem;
          @include flexCenterCenter;
        }
      }

      .notification {
        background: $secondary-blue-color;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        // display: none;
        .number {
          color: $white;
          @include flexCenterCenter;
        }
      }
      &:hover {
        box-shadow: 0px 2px 5px $gray-extraLight;
        transform: scale(1.02);
      }
      // &:focus {
      //   border-right: 1px solid $gray-extraLight;
      //   border-bottom: 2px solid $gray-extraLight;
      // }
      transition: all 0.3s linear;
    }
    li:hover {
      cursor: pointer;
    }
  }
}

.invisible {
  visibility: hidden;
}
.hide_tab {
  border: none !important;
}
