.userProfile_section {
  width: 80%;
  @include flexItemsCenter;
  .user_avatar {
    width: 3rem;
    height: 3rem;
    img {
      border-radius: 50%;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
  }
  .user_details {
    margin-left: 1rem;
    display: block;
    padding: 0.1rem 0rem;
    line-height: 1.2;
    .user_fullname {
      font-size: $base-text;
    }
    .username {
      font-size: $small-text;
      color: $secondary-font-color-light;
    }
  }
}
