.single_story_section {
  @include flexColCenterCenter;
  margin-right: 2rem;
  .single_story {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background: $gray-primary;
    margin-top: 0.5rem;
    border: 2px solid $gray-primary;
    img {
      width: 100%;
      height: 100%;
      background: $white;
      border-radius: 50%;
      cursor: pointer;
    }
  }
}
