.login_container {
  @include flexCenterCenter;
  margin: 1rem auto;
  height: 95vh;
  width: 95vw;
  background: $gray-background;
  border-radius: 0.75rem;
  overflow: hidden;
  .login_poster {
    display: flex;
    width: 60%;
    img {
      padding: 1rem;
      width: 100%;
      max-width: 100%;
    }
  }

  .login_form_section {
    @include flexCol;
    width: 50%;
    margin: 0 auto;
    margin: 0rem 2rem;
    background: $white;
    box-shadow: 3px 3px 6px $gray-extraLight;
    .login_details_section {
      padding: 1rem 2rem;
      border-radius: 0.25rem;
      .text {
        margin: 1rem 0;
        font-size: 1.1rem;
        color: $secondary-font-color-light;
      }
      .signup_link {
        margin: 1rem 0;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        font-size: 1.1rem;
        color: $secondary-font-color-light;
      }
      .logo {
        @include flexJustifyCenter;
        width: 100%;
        position: relative;
        img {
          margin-top: 0.5rem;
          margin-bottom: 1rem;
          width: 50%;
        }
      }
      form {
        width: 100%;
        .login_btn {
          font-size: 1.3rem;
          margin: 0rem auto;
          margin-top: 2rem;
          background: $secondary-blue-color;
          color: $white;
          width: auto;
          padding: 0.5rem 1rem;
          border-radius: $radius;
        }
        .form_tags {
          .login_form_tag {
            margin-top: 2rem;
          }
        }
      }
    }
  }
}
