.btn {
  background: $blue-medium;
  font-weight: font-bold;
  font-size: 1rem;
  line-height: 1.25rem;
  border-radius: 0.25rem;
  color: $white;
  width: auto;
  height: auto;
  padding: 0.875rem 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
