@mixin flexJustifyCenter {
  display: flex;
  justify-content: center;
}
@mixin flexItemsCenter {
  display: flex;
  align-items: center;
}

@mixin flexCenterCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flexCenterBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flexCenterEven {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@mixin flexStartCenter {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

@mixin flexEndCenter {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

@mixin flexColCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flexColCenterCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin flexCol {
  display: flex;
  flex-direction: column;
}
