// colors
$white: #fff;
$blue-medium: #005c98;
$blue-light: #113cfc;
$blue-extraLight: #a2d2ff;
$black-light: #262626;
$black-faded: #00000059;
$black-base: #000000;
$gray-base: #616161;
$gray-background: #fafafa;
$gray-primary: #dbdbdb;
$gray-light: #c9ccd5;
$gray-extraLight: #e6e6e6;
$red-primary: #ed4956;

$screen-lg: 1024px;
$screen-md: 768px;

$shadow-base: "3px 6px 6px rgba(0,0,0,0.1)";
$shadow-primary: "2px 4px 4px rgba(0,0,0,0.1)";
