@tailwind base;
@tailwind components;
@tailwind utilities;

.small {
  @apply text-lg;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-snap-type: y mandatory;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
video {
  max-width: none;
  height: auto;
}
.app_video::-webkit-scrollbar {
  display: none;
}
.app_video {
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-snap-type: y mandatory;
}
.videoCard {
  scroll-snap-align: start;
}
.videoFooter_text .btn {
  text-transform: inherit;
}
.ticker {
  height: fit-content;
}
